<% include ./partials/header %>

<div class="container">
	<div class="row" style="width: 60%; margin: 25px auto">
		<h1 style="text-align: center"><%= title %></h1>
	</div>
</div>

<div class="container">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th>Title</th>
					<th>Genre</th>
					<th>Year</th>
					<th>Actors</th>
					<th>Rating</th>
				</tr>
			</thead>
			<tbody>
				<% movies.forEach( (movie) => { %>
					<tr>
						<th><%= movie.title %></th>
						<th><%= movie.genre %></th>
						<th><%= movie.year %></th>
						<th><%= movie.actors %></th>
						<th><%= movie.rating %></th>
					</tr>
				<% }); %>
	</div>
</div>

<% include ./partials/footer %>